
////////// COLOR SYSTEM //////////

$black:             #000;
$white:             #ffffff;


$colors: (
  blue:             $blue,
  red:              $red,
  green:            $green,
  white:            $white,
  gray:             #566180,
  gray-light:       #566180,
  gray-lighter:     #f3f4f7,
  gray-lightest:    #f3f4f7,
  gray-dark:        #0f1531,
  black:            #000000
);


$main-colors: (
  primary:         #003778,
  secondary:       #566180,
  success:         #0fc036,
  info:            #0062D7,
  warning:         #ffc300,
  danger:          #FF0808,
  light:           #f3f4f7,
  dark:            #1c273c
);

$gradient-colors: (
  primary:         linear-gradient(135.37deg, #003778, #0062D7),
  secondary:       linear-gradient(to right, #f3f4f7, #868e96),
  success:         linear-gradient(45deg, #0fc036, #30c93e),
  info:            linear-gradient(to bottom, #0062D7, #6a8eff),
  warning:         linear-gradient(135deg, #ffc300, #ff763b),
  danger:          linear-gradient(316deg, #FF0808, #fbaaa2),
  light:           linear-gradient(to right, #f3f4f7 0%, #e2ebf0 100%),
  dark:            linear-gradient(to right, #6e7381 0%, #566180 100%)
);

////////// COLOR VARIABLES //////////
$content-bg: #f3f4f7;
$border-color: #eeeef0;
$light-grey: #f3f4f6;


////////// FONTS//

$type1:     'Poppins', sans-serif;

$default-font-size: .875rem; // 14px as base font size

$text-muted: #95999d;
$body-color: #566180;

////////// FONT VARIABLES //////////

///////// FOOTER ////////
$footer-height: 50px;
$footer-bg: $content-bg;
$footer-color: color(dark);
///////// FOOTER ////////

///////// BUTTONS ////////

$button-fixed-width:        150px;
$btn-padding-y:       .875rem;
$btn-padding-x:       1.5rem;
$btn-line-height:     1;

$btn-padding-y-xs:    0.625rem;
$btn-padding-x-xs:    0.625rem;

$btn-padding-y-sm:    .50rem;
$btn-padding-x-sm:    .81rem;

$btn-padding-y-lg:    1rem;
$btn-padding-x-lg:    3rem;

$btn-font-size:       .875rem;
$btn-font-size-xs:    .625rem;
$btn-font-size-sm:    .875rem;
$btn-font-size-lg:    .875rem;

$btn-border-radius:         1.9875rem;
$btn-border-radius-xs:      1.9875rem;
$btn-border-radius-sm:      1.9875rem;
$btn-border-radius-lg:      1.9875rem;

$btn-box-shadow: -5px -5px 10px #fafbff, 5px 5px 10px #a6abbd;
$btn-box-shadow-hover:inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
$modal-box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff; 

///////// BUTTONS ////////



////////// TOOLTIP VARIABLES //////////

//default styles
$tooltip-font-size:     .75rem;
$tooltip-padding-y:     .4rem;
$tooltip-padding-x:     .75rem;
$tooltip-border-radius: .375rem;

////////// TOOLTIP VARIABLES //////////



/////////  FORMS /////////

$input-bg:                color(white);
$input-border-radius:     2px;
$input-placeholder-color: #c9c8c8;
$input-font-size: .875rem;

$input-padding-y:       .875rem;
$input-padding-x:       1.375rem;
$input-line-height:     1;

$input-padding-y-xs:    .5rem;
$input-padding-x-xs:    .75rem;

$input-padding-y-sm:    .50rem;
$input-padding-x-sm:    .81rem;

$input-padding-y-lg:    .94rem;
$input-padding-x-lg:    1.94rem;

///////// FORMS /////////

////////  DROPDOWNS ///////

$dropdown-border-color: $border-color;
$dropdown-divider-bg:   $border-color;
$dropdown-link-color:   $body-color;
$dropdown-header-color: $body-color;
$dropdown-link-hover-bg: #eaeaf1;
////////  DROPDOWNS ///////

//////// TABLES ////////

$table-accent-bg: #f1f1f4;
$table-hover-bg:  #eaeaf1;
$table-cell-padding: .625rem .9375rem;
$table-border-color: rgba(200, 186, 186, 0.5);

$table-inverse-bg: #2a2b32;
$table-inverse-color: color(white);

//////// TABLES ////////



////////// PROPERTY VARIABLES //////////

$border-property: 1px solid $border-color;
$card-spacing-y: 1.25rem;
$card-padding-y: 1.5rem;
$card-padding-x: 1.5rem;
$card-border-radius: 10px;
$card-border-color: #e7eaed;
$card-box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px #A6ABBD;
$card-background-image: linear-gradient(to top, #f1f2f5, rgba(255, 255, 255, 0)), linear-gradient(to bottom, #f6f6f9, #f6f6f9);
// $card-background-image: linear-gradient(135.37deg, rgba(0, 0, 0, 0.4) 4.29%, rgba(255, 255, 255, 0.4) 95.6%), #EBECF0;
$card-title-color: #566180;
$card-description-color: #566180;
$grid-gutter-width: 20px;
$action-transition-duration: 0.25s;
$action-transition-timing-function: ease;
////////// OTHER VARIABLES //////////





/////////  TABS VARIABLES //////////
$nav-tabs-border-color:             #ebedf2;
$nav-tabs-link-bg:                  #f6f8fa;
$nav-tabs-link-color:               #000000;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-border-color;
$nav-tabs-link-active-color:        $body-color;
$nav-tabs-link-active-bg:           $white;
$nav-tabs-link-active-border-color: $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-link-active-bg;
$nav-pills-custom-bg:               #fcfcfd;
////////   TABS VARIABLES /////////


////////   CALENDAR  //////////////

$bg-light : #f3f4f7;
